<div class="container p-4">
    <div class="row">
        <div class="col-md4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Panel de Control</h3>
                </div>
                <div class="card-body">
                    <img src="../../public/img/logo.jpg" alt="">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Username" class="form-control" autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Aceptar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>